* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

ul {list-style: none} li {display: block}

.transcript-list{
    /*max-height: 300px;*/
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.chat-container {
  /*margin: 0px;*/
  padding: 0px;
  width: 500px;
  /*margin: 35px 0px;*/
  margin-left: 15%;
  margin-right: 15%;
}

.chat-message {
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 3px;
}

.bot-message {
  background: #22b538;
  max-width: 300px;
  color: white;
  margin-left: auto;
}

.human-message {
  background: dodgerblue;
  max-width: 300px;
  color: white;
  margin: 13px 1px;
}

.input {
  width: 500px;
  /*margin: 35px 0px;*/
  margin-left: 15%;
  margin-right: 15%;
}