@page "/tab"

@using ChannelGroupTab

@{
    Layout = "_Layout";
}

<p>
    <h2 id="disappear" style="color:#6364a5">Hello World!</h2>
    <br />
    <br />
</p>

<script src="~/scripts/tab.js" asp-append-version="true"></script>